<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuestra empresa</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Empresa especializada en soluciones basadas en Angular, Ionic y Node.js.

      <p>
        Distancia a nuestras oficinas:
        {{ distancia.toFixed(2) }} km
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>